<?xml version="1.0"?>
<!-- 
This is the xacro description of a Pioneer 3DX, to be used in rviz and gazebo.
Copyright (C) 2013 Rafael Berkvens rafael.berkvens@uantwerpen.be

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

This project is based on work by Tracy Davies, where it was in turn based on
work original in ucs-ros-pkg.
 -->
<robot name="pioneer3dx" 
	xmlns:xacro="http://ros.org/wiki/xacro">
	<!-- import all gazebo-customization elements, including gazebo colors -->
	<xacro:include filename="$(find p3dx_description)/urdf/pioneer3dx.gazebo" />
	<!-- import the pioneer 3dx's wheels -->
	<xacro:include filename="$(find p3dx_description)/urdf/pioneer3dx_wheel.xacro" />
	<!--<xacro:property name="include_aruco_marker" value="false"/>-->

	<!-- chassis -->
	<link name="base_link">
		<inertial>
			<mass value="3.5" />
			<!--<origin xyz="-0.025 0 -0.223"/> -->
			<origin xyz="-0.05 0 0" />
			<inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
		</inertial>
		<visual>
			<origin xyz="-0.045 0 0.148" rpy="0 0 0" />
			<geometry name="pioneer_geom">
				<mesh filename="package://p3dx_description/meshes/chassis.stl" />
			</geometry>
			<material name="ChassisRed"></material>
		</visual>
		<collision>
			<origin xyz="-0.045 0 0.145" rpy="0 0 0" />
			<geometry>
				<box size="0.35 0.25 0.14" />
			</geometry>
		</collision>
	</link>
	<!-- top_plate -->
	<link name="top_plate">
		<inertial>
			<mass value="0.01" />
			<origin xyz="0 0 0" />
			<inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry name="top_geom">
				<mesh filename="package://p3dx_description/meshes/top.stl" />
			</geometry>
			<material name="TopBlack"></material>
		</visual>
		<collision>
			<origin xyz="0.0 0 0" rpy="0 0 0" />
			<geometry name="pioneer_geom">
				<box size="0.45 0.38 0.01" />
			</geometry>
		</collision>
	</link>
	<joint name="base_top_joint" type="fixed">
		<origin xyz="-0.045 0 0.234" rpy="0 0 0" />
		<parent link="base_link" />
		<child link="top_plate" />
	</joint>
	<!-- swivel -->
	<link name="swivel">
		<inertial>
			<mass value="0.1" />
			<origin xyz="0 0 0" />
			<inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry name="pioneer_geom">
				<mesh filename="package://p3dx_description/meshes/swivel.stl" />
			</geometry>
			<material name="swivel"></material>
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<box size="0.00001 0.00001 0.00001" />
			</geometry>
		</collision>
	</link>
	<joint name="base_swivel_joint" type="fixed">
		<origin xyz="-0.185 0 0.055" rpy="0 0 0" />
		<axis xyz="0 0 1" />
		<anchor xyz="0 0 0" />
		<limit effort="100" velocity="100" k_velocity="0" />
		<joint_properties damping="0.0" friction="0.0" />
		<parent link="base_link" />
		<child link="swivel" />
	</joint>
	<!-- center_hubcap -->
	<link name="center_hubcap">
		<inertial>
			<mass value="0.01" />
			<origin xyz="0 0 0" />
			<inertia ixx="0.012411765597" ixy="-0.000711733678" ixz="0.00050272983" iyy="0.015218160428" iyz="-0.000004273467" izz="0.011763977943" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry name="pioneer_geom">
				<mesh filename="package://p3dx_description/meshes/center_hubcap.stl" />
			</geometry>
			<material name="swivel"></material>
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<box size="0.00001 0.00001 0.00001" />
			</geometry>
		</collision>
	</link>
	<joint name="swivel_hubcap_joint" type="fixed">
		<origin xyz="-0.026 0 -0.016" rpy="0 0 0" />
		<axis xyz="0 1 0" />
		<anchor xyz="0 0 0" />
		<limit effort="100" velocity="100" k_velocity="0" />
		<joint_properties damping="0.0" friction="0.0" />
		<parent link="swivel" />
		<child link="center_wheel" />
	</joint>
	<!-- center_wheel -->
	<link name="center_wheel">
		<inertial>
			<mass value="1.0" />
			<origin xyz="0 0 0" />
			<inertia ixx="0.012411765597" ixy="-0.000711733678" ixz="0.00050272983" iyy="0.015218160428" iyz="-0.000004273467" izz="0.011763977943" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry name="pioneer_geom">
				<mesh filename="package://p3dx_description/meshes/center_wheel.stl" />
			</geometry>
			<material name="WheelBlack"></material>
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="${-3.1415927/2.0} 0 0" />
			<geometry>
				<cylinder radius="0.0375" length="0.01" />
			</geometry>
		</collision>
	</link>
	<joint name="center_wheel_joint" type="fixed">
		<origin xyz="-0.0035 0 -0.001" rpy="0 0 0"/>
		<parent link="center_wheel"/>
		<child link="center_hubcap"/>
	</joint>
	
	
	<!-- End of Legacy for diff drive plugin
	https://github.com/ros-simulation/gazebo_ros_pkgs/pull/707/files
	"This setting assumes you have a old package, where the right and left wheel are changed to fix a former code issue\n"
	"To get rid of this error just set <legacyMode> to false if you just created a new package.\n"
	"To fix an old package you have to exchange left wheel by the right wheel.\n"
	-->
	<xacro:p3dx_wheel suffix="left" parent="base_link" reflect="-1"/>
	<xacro:p3dx_wheel suffix="right" parent="base_link" reflect="1"/>
	
	<!--
	<link name="front_sonar">
		<inertial>
			<mass value="0.0001" />
			<origin xyz="0 0 0" />
			<inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
		</inertial>
		<visual>
			<origin rpy="0 0 0" xyz="0 0 0" />
			<geometry name="pioneer_geom">
				<mesh filename="package://p3dx_description/meshes/front_sonar.stl" />
			</geometry>
			<material name="SonarYellow"></material>
		</visual>
		<collision>
			<origin rpy="0 0 0" xyz="0 0 0" />
			<geometry>
				<box size="0.00001 0.00001 0.00001" />
			</geometry>
		</collision>
	</link>
	<joint name="base_front_joint" type="fixed">
		<origin rpy="0 0 0" xyz="0.109 0 0.209" />
		<parent link="base_link" />
		<child link="front_sonar" />
	</joint>
	<link name="lms100">
		<inertial>
			<mass value="1e-5" />
			<origin xyz="0 0 0" rpy="0 0 0" />
			<inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="package://p3dx_description/meshes/lms100.dae" />
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<box size="0.1 0.1 0.1" />
			</geometry>
		</collision>
	</link>
	<joint name="lms100_joint" type="fixed">
		<axis xyz="0 1 0" />
		<origin xyz="0.12 0 0.26" rpy="0 0 0" />
		<parent link="base_link" />
		<child link="lms100" />
	</joint> 
	-->
	
            	
            		
        	
    
	<link name="camera_link">
		<collision>
			<origin rpy="0 0 0" xyz="0 0 0"/>
			<geometry>
				<box size="0.07 0.07 0.07"/>
      		</geometry>
    	</collision>
		<visual>
      		<origin rpy="0 0 0" xyz="0 0 0"/>
      		<geometry>
        		<box size="0.07 0.07 0.07"/>
      		</geometry>
      		<material name="black_metal">
        	<color rgba="0.1 0.1 0.1 1"/>
      		</material>
    	</visual>
    	<inertial>
      		<mass value="1e-5"/>
      		<origin rpy="0 0 0" xyz="0 0 0"/>
      		<inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
    	</inertial>
 	</link>
    <gazebo reference="camera_link">
    <material>Gazebo/Black</material>
  	</gazebo> 
  
   	<joint name="camera_joint" type="fixed">
		<axis xyz="0 1 0"/>
    	<origin rpy="0 0 1.57" xyz="0.0 0.0 0.27"/>
    	<parent link="base_link"/>
    	<child link="camera_link"/>
  	</joint>
  
  	<gazebo reference="camera_link">
    <sensor name="camera_depth_sensor" type="depth">
      <alwaysOn>true</alwaysOn>
      <updateRate>30.0</updateRate>
      <camera>
        <horizontal_fov>1.3962634</horizontal_fov>
        <image>
          <width>640</width>
          <height>480</height>
          <format>R16</format>
        </image>
        <clip>
          <near>0.02</near>
          <far>20.0</far>
        </clip>
      </camera>
      <plugin filename="libgazebo_ros_openni_kinect.so" name="gazebo_ros_openni_kinect">
        <alwaysOn>true</alwaysOn>
        <updateRate>30.0</updateRate>
        <cameraName>depth_sensor</cameraName>
        <imageTopicName>depth/image_raw</imageTopicName>
        <cameraInfoTopicName>depth/camera_info</cameraInfoTopicName>
        <pointCloudTopicName>depth/points</pointCloudTopicName>
        <frameName>camera_link</frameName>
        <baseline>0.1</baseline>
        <distortionK1>0.0</distortionK1>
        <distortionK2>0.0</distortionK2>
        <distortionK3>0.0</distortionK3>
        <distortionT1>0.0</distortionT1>
        <distortionT2>0.0</distortionT2>
        <CxPrime>0.0</CxPrime>
        <CyPrime>0.0</CyPrime>
        <focalLength>0.0</focalLength>
        <Rx>0.0</Rx>
        <Ry>0.0</Ry>
        <Rz>0.0</Rz>
        <Tx>0.0</Tx>
        <Ty>0.0</Ty>
        <Tz>0.0</Tz>
      </plugin>
    </sensor>
  </gazebo>
	
	<link name="rgbd_camera_link">
  <collision>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <geometry>
      <box size="0.07 0.07 0.07"/>
    </geometry>
  </collision>
  <visual>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <geometry>
      <box size="0.07 0.07 0.07"/>
    </geometry>
    <material name="black_metal">
      <color rgba="0.1 0.1 0.1 1"/>
    </material>
  </visual>
  <inertial>
    <mass value="1e-5"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
  </inertial>
</link>

<joint name="rgbd_camera_joint" type="fixed">
  <axis xyz="0 1 0"/>
  <origin rpy="0 0 1.57" xyz="0.0 0.0 0.27"/>
  <parent link="base_link"/>
  <child link="rgbd_camera_link"/>
</joint>


<gazebo reference="rgbd_camera_link">
  <sensor name="rgbd_camera" type="depth">
    <alwaysOn>true</alwaysOn>
    <updateRate>30.0</updateRate>
    <camera>
      <horizontal_fov>1.3962634</horizontal_fov>
      <image>
        <width>640</width>
        <height>480</height>
        <format>R8G8B8</format>
      </image>
      <clip>
        <near>0.02</near>
        <far>20.0</far>
      </clip>
      <depth>
        <update_rate>30.0</update_rate>
        <image>
          <width>640</width>
          <height>480</height>
          <format>FLOAT32</format>
        </image>
        <clip>
          <near>0.02</near>
          <far>20.0</far>
        </clip>
      </depth>
    </camera>
    <plugin filename="libgazebo_ros_openni_kinect.so" name="gazebo_ros_openni_kinect">
      <alwaysOn>true</alwaysOn>
      <updateRate>30.0</updateRate>
      <cameraName>rgbd_camera</cameraName>
      <imageTopicName>rgbd_camera/image_raw</imageTopicName>
      <cameraInfoTopicName>rgbd_camera/camera_info</cameraInfoTopicName>
      <pointCloudTopicName>rgbd_camera/points</pointCloudTopicName>
      <depthImageTopicName>rgbd_camera/depth/image_raw</depthImageTopicName>
      <depthImageCameraInfoTopicName>rgbd_camera/depth/camera_info</depthImageCameraInfoTopicName>
      <frameName>rgbd_camera_link</frameName>
      <baseline>0.1</baseline>
      <distortionK1>0.0</distortionK1>
      <distortionK2>0.0</distortionK2>
      <distortionK3>0.0</distortionK3>
      <distortionT1>0.0</distortionT1>
      <distortionT2>0.0</distortionT2>
      <CxPrime>0.0</CxPrime>
      <CyPrime>0.0</CyPrime>
      <focalLength>0.0</focalLength>
      <Rx>0.0</Rx>
      <Ry>0.0</Ry>
      <Rz>0.0</Rz>
      <Tx>0.0</Tx>
      <Ty>0.0</Ty>
      <Tz>0.0</Tz>
    </plugin>
  </sensor>
</gazebo>


	

</robot>
